# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables
.env
.env.*

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Docker
*.local

# Build output
/dist
/build
